.item-container{
display: flex;
flex-direction: column;
}

.item{
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    margin-top: 3em;
    flex-direction: column;
}
.item2{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: silver; */
    width: 40em;
    align-self: center;
    /* justify-self: center; */
    justify-content: space-evenly;
}
.t-span{
    text-transform: lowercase;
    color: #534c4a;
    font-style: oblique;
}
.item-title{
    color: #504d4c;
    text-transform: uppercase;
    letter-spacing: .045em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.272727273;
    margin: 0;
    margin-bottom: 0.2em;
    justify-self: self-start;
}
.item-brand{
    color: #504d4c;
    margin: 0;
    margin-left: 7em;
    /* margin-bottom: 1.5em; */
    text-transform: uppercase;
    letter-spacing: .045em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.272727273;
    /* align-self: self-end; */
}
.hrhr{
    width: 40em;
    align-self: center;
    justify-self: center;
    margin-top: 2em;

}
.ll{
    display: flex;
    padding-top: 2em;
    align-self: center;
    justify-self: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    gap: 3em;
}
.item-img{

    width: 300px;
}
.right{
    display: flex;
    flex-direction: column;
}
.box{
    color: white;
    width: 250px;
    height: 50px;
}
.item-price{
    color: black;
    width: 300px;
    text-align: start;
}
.quantity{
    width: 50px;
    height: 25px;
    align-self : start;
    text-align: center;
}
.loading{
    align-self: center;
}
@media screen and (max-width : 700px){
    .ll{
        flex-direction: column;
        margin: 0;
    }
    .hrhr{
        width: 20em;
    }
    .right{
        justify-content: center !important;
        align-items: center !important;
    }
    .item-name{
        width: 400px;
    }
    .item{
        width: 400px;
        align-self: center;
    }
    .item-price{
        text-align: center;
    
    }
    .quantity{
        align-self: center;
        width: 60px;
        height: 20px;
    }
    
}