body {
    font-family: 'Tajawal';
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #909090;
    /* text-align: left; */
    background-color: #212121;
}
.authPage{
    display: flex;
    flex-direction: column;
}

.log-logo{
    max-width:350px;
    padding-top: 1.7em;
    align-self: center;
    cursor: pointer;
}
.auth{
    /* padding-left: 5em; */
    padding-top: 5em;
    align-self: center;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
}
.sign-type{
    display: flex;
    justify-content: space-evenly   ;
    color: #ada494;
}
.hr2{
    width: 600px;
}
h2{
    cursor: pointer;
}
.sign-form{
    /* height: 300px; */
    width: 450px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 8em;
}
.email , .password{
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-size: 20px;
    align-items: center;
}
input{
    padding-top: 12px;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .4px;
    width: 400px;
}
label{
    align-self: flex-start;
    padding-bottom: 1em;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: .4px;
    color: #ada494;
    letter-spacing: 2px;
}
.submit-button{
    width: 408px;
    height: 45px;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
    background-color: #ECD8BD;
    border-radius: 0%;
    margin-top: 2em;
}