.allmen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    margin: 5em;
    margin-left:15em ;
    margin-right:10em ;
    margin-bottom: 8em;
}
.a-product{
    display: flex;
    flex-direction: column;
}
.a-product:hover {
    cursor: pointer;
}
.a-product-image{
    width: 150px;

}
.a-product-image:hover{
    width: 160px;

}
.a-product-name{
    margin: 0;
    color: #504d4c;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3125;
    text-transform: none;
    text-align:center;
    max-width: 160px;
    
}
.aTitle{
    margin-top: 3em;
    color: #504d4c;
    text-transform: uppercase;
    letter-spacing: .045em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.272727273;
}
.product-price{
    margin: 0;
    color: #ce256c;
    text-transform: uppercase;
    letter-spacing: .076923077em;
    font-weight: 700;
    font-style: normal;
    font-size: .8125rem;
    line-height: 1.615384615;
    text-align: center;
}
@media screen and (max-width:650px) {
    .a-product-list{
        margin-left: 5em;
        margin-right: 0;
        justify-self: center;
        align-self: center;
    }
}